<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- mybatis自带的打印mysql语句和结果到控制台界面,输出比较详细,但不能写入file，部署之前用这个，部署时用下面的 -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
        <!-- logback与mybatis结合时的配置，dao后面不要少了‘.’符号，需要进一步的对logcack.xml进行配置 -->
        <!--<setting name="logPrefix" value="dao."/>-->
    </settings>
</configuration>